@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) 
{
    main {
        background-color: aqua;
    }

    section#login {
        width: 70vw;
        height: 250px;
    }

    section#login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) 
{
    main {
        background-image: linear-gradient(to bottom, blue, aqua);
    }


    section#login {
        width: 850px;
        height: 350px;
    }

    section#login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    
    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}